    <footer>
      <hr />
      CST336 Internet Programming. 2020&copy; Sedano <br />
      <strong>Disclaimer:</strong> The information in this webpage is fictitious.
      <br />
      It is used for academic purposes only.
      <br> <br>
      Your location is Long: <%= long %> Lat: <%= lat %> 
      <figure>
        <img id="logo-size" src="img/CSUMB_logo.png" alt="CSUMB's Logo" />
      </figure>
    </footer>
  </body>
<!-- closing body -->

</html>