<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bufferbloat</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@400&family=Roboto:wght@400&display=swap"
      rel="stylesheet"
    />
  </head>
   <!-- This is the body -->
    <!-- This is where we place the content of our website -->
    <body>
        
      <header>
          <h1> Bufferbloat </h1>
      </header>
      <hr />
      <%- include("nav.ejs") %> 
      
      <br /><br />
