<nav>
  <a <%= page_name == "overview" ? "class=active" : "" %> href="/">Overview</a>
  <a <%= page_name == "causes" ? "class=active" : "" %> href="/causes">Causes</a>
  <a <%= page_name == "testing" ? "class=active" : "" %> href="/testing">Testing</a>
  <a <%= page_name == "solution" ? "class=active" : "" %> href="/solution">Solution</a>
</nav>
